h1{
   color: #33CC33;
    text-decoration:underline;
}
p {
	color:#0066CC;
    padding: 20px;
}



 .page-navigation1 li a{
color:#FF0000;}
.page-navigation1 li a:hover{
color:green;
    text-decoration:none;
}